.boton-verde {
    background-color: #71b100;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin-top: 2.5rem;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
}

.boton-verde:hover {
    background-color: #619800;
    cursor: pointer;
}

.boton-amarillo-block {
    background-color: #e08709;
    border: none;
    color: #fff;
    display: block;
    font-weight: 700;
    margin-top: 1.5rem;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
}

.boton-amarillo-block:hover {
    background-color: #c77808;
    cursor: pointer;
}

.boton-redondeado {
    border-radius: 1rem;
    padding: 1.5rem 3rem;
    margin: 2.5rem 0rem;
    align-self: center;
}